header {
  background: #fff;
  border-color: #ccc;
  
}
body {
  
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #777;
  background: #fff;
  border-color: #ddd;
}